{% extends 'layout.html' %}

{% load static %}

{% block content %}

<style>
    .card-img-top {
        height: 200px;
        /* 🔹 ajusta la altura según tu diseño */
        object-fit: cover;
        /* 🔹 recorta sin deformar */
    }
</style>

<div class="row my-4 mx-5 text-center">

    <h2>Productos</h2>

    {% for categoria in categorias %}
    <div class="col-md-3 mb-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ categoria.imagen_cat.url }}" alt="{{categoria.nombre_categoria}}">
            <div class="card-body">
                <h5 class="card-title">{{categoria.nombre_categoria}}</h5>
                <a href="{% url 'products:productos' categoria.id_categoria %}" class="btn btn-primary">Ver
                    categoria</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}